@import "tailwindcss";

@theme {
  --color-mint-light: var(--mint-light);
  --color-mint: var(--mint);
  --color-mint-dark: var(--mint-dark);
  --color-muted: var(--muted);

  --font-weight-regular: var(--weight-regular);
  --font-weight-medium: var(--weight-medium);
  --font-weight-bold: var(--weight-bold);
}